[submodule "pack/colors/opt/catppuccin"]
	path = pack/colors/opt/catppuccin
	url = https://github.com/catppuccin/vim
	branch = main
[submodule "pack/plugins/start/characterize"]
	path = pack/plugins/start/characterize
	url = https://github.com/tpope/vim-characterize
	branch = master
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
	branch = master
[submodule "pack/plugins/start/endwise"]
	path = pack/plugins/start/endwise
	url = https://github.com/tpope/vim-endwise
	branch = master
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
	branch = main
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
	branch = master
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
	branch = master
[submodule "pack/plugins/start/obsession"]
	path = pack/plugins/start/obsession
	url = https://github.com/tpope/vim-obsession
	branch = master
[submodule "pack/plugins/start/repeat"]
	path = pack/plugins/start/repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "pack/plugins/start/ripgrep"]
	path = pack/plugins/start/ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
	branch = master
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible
	branch = master
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
	branch = main
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "pack/plugins/start/unimpaired"]
	path = pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
	branch = master
[submodule "pack/plugins/start/visual-multi"]
	path = pack/plugins/start/visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "pack/plugins/start/vitality"]
	path = pack/plugins/start/vitality
	url = https://github.com/sjl/vitality.vim
	branch = master
[submodule "pack/syntax/start/markdown"]
	path = pack/syntax/start/markdown
	url = https://github.com/preservim/vim-markdown
	branch = master
[submodule "pack/plugins/start/transparent"]
	path = pack/plugins/start/transparent
	url = https://github.com/tribela/vim-transparent
